.imagenac{
    height: 500px;
}
.tcreed{
    font-family: 'Playfair Display SC', serif;
}
.creed{
    font-family: 'Playfair Display SC', serif;
    color: red;
}

.fondo{
    background-color: rgb(224, 224, 224);
}